/*Основний колір тексту #212121
Другорядний колір тексту #757575
Акцент #2196F3
Лого основний колір #2196F3
Лого Шапка #000000
Лого Футер #FFFFFF
Другорядний світлий колір тексту #FFFFFF
Другорядний світлий колір тексту + прозорість rgba(255, 255, 255, 0.6)
Фон основний колір #FFFFFF
Фон темний колір #2F303A
Фон світлий колір #F5F4FA
Колір рамки шапки #ECECEC;
Колір рамки карток портфоліо #EEEEEE;
Активна кнопка #188CE8
Тінь кнопки сервіс rgba(0, 0, 0, 0.15);
Перша тінь команди rgba(0, 0, 0, 0.12);
Друга тінь команди rgba(0, 0, 0, 0.14);
Третя тінь команди rgba(0, 0, 0, 0.2);
Перша тінь кнопок Портфоліо rgba(0, 0, 0, 0.1);
Друга тінь кнопок Портфоліо rgba(0, 0, 0, 0.08);
Третя тінь кнопок Портфоліо rgba(0, 0, 0, 0.12);
Перша тінь карток Портфоліо rgba(0, 0, 0, 0.12);
Друга тінь карток Портфоліо rgba(0, 0, 0, 0.06);
Третя тінь карток Портфоліо rgba(0, 0, 0, 0.16);
Нижній колір фону послуги #C4C4C4;
Акцент іконок #FFFFFF;
Колір іконок #AFB1B8;
Колір іконок футера #FFFFFF;
Колір рамки клієнтів #AFB1B8;
Фон іконок футера rgba(255, 255, 255, 0.1);
Колір рамки підписки футера rgba(255, 255, 255, 0.3);
Накладений колір фону rgba(47, 48, 58, 0.4);
Накладений фон картки Чим займаємося rgba(47, 48, 58, 0.8);
Накладений фон картки Портфодіо  rgba(33, 150, 243, 0.9);
Фон Модального вікна rgba(0, 0, 0, 0.2);
Колір рамки Модального вікна rgba(33, 33, 33, 0.2);
Колір іконок модального вікна #212121;
Прехід 250ms cubic-bezier(0.4, 0, 0.2, 1);
Колір бордеру іконки закрити модалки rgba(0, 0, 0, 0.1);
Колір іконки закрити модалки #000000;
Колір плейсхолдеру rgba(117, 117, 117, 0.5);
Основний шрифт тексту Roboto, sans-serif;
Шрифт логотипу Raleway, sans-serif; */

:root {
    --pimary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-logo-color: #2196F3;
    --header-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --primary-light-text-color: #FFFFFF;
    --secondary-light-text-color: rgba(255, 255, 255, 0.6);
    --pimary-bg-color: #FFFFFF;
    --dark-bg-color: #2F303A;
    --light-bg-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --card-border-color: #EEEEEE;
    --accent-btn: #188CE8;
    --service-btn-shadow: rgba(0, 0, 0, 0.15);
    --first-team-shadow: rgba(0, 0, 0, 0.12);
    --second-team-shadow: rgba(0, 0, 0, 0.14);
    --third-team-shadow: rgba(0, 0, 0, 0.2);
    --first-portfolio-btn-shadow: rgba(0, 0, 0, 0.1);
    --second-portfolio-btn-shadow: rgba(0, 0, 0, 0.08);
    --third-portfolio-btn-shadow: rgba(0, 0, 0, 0.12);
    --first-portfolio-card-shadow: rgba(0, 0, 0, 0.12);
    --second-portfolio-card-shadow: rgba(0, 0, 0, 0.06);
    --third-portfolio-card-shadow: rgba(0, 0, 0, 0.16);
    --down-bgc-service: #C4C4C4;
    --accent-color-icon: #FFFFFF;
    --icon-color: #AFB1B8;
    --icon-color-footer: #FFFFFF;
    --client-border: #AFB1B8;
    --icon-bg-footer: rgba(255, 255, 255, 0.1);
    --overlay-color: rgba(47, 48, 58, 0.4);
    --border-color-footer-subscription: rgba(255, 255, 255, 0.3);
    --overlay-card-work: rgba(47, 48, 58, 0.8);
    --overlay-card-portfolio: rgba(33, 150, 243, 0.9);
    --transition-dur-tf: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --border-color-modal: rgba(33, 33, 33, 0.2);
    --color-modal-icon: #212121;
    --border-color-modal-close-icon: rgba(0, 0, 0, 0.1);
    --color-modal-close-icon: #000000;
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --pimary-font-text: Roboto, sans-serif;
    --font-logo: Raleway, sans-serif;
}

h1,
h2, 
h3, 
h4, 
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

body {
    font-family: var(--pimary-font-text);
    letter-spacing: 0.03em;

    color: var(--pimary-text-color);
    background-color: var(--pimary-bg-color);
}

img {
    display: block;
    min-width: 100%;
}

header {border-bottom: 1px solid var(--header-border-color);} 

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {list-style: none;}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Оформлення Шапки сайту */
.header-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
    column-gap: 50px;
}

.site-nav .link,
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-tf);
}

.site-nav-item {
    position: relative;
}

.link.current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    background: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: auto;
}

.contacts-link {margin-right: 30px;}

.contacts-list-link {
    transition: fill var(--transition-dur-tf);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
    fill: currentColor;
}

.mail-icon,
.smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-list-link.link {
    display: flex;
    align-items: center;
}

/* Оформлення Лого */
.logo-dark {color: var(--header-logo-color);}

.logo-light {color: var(--footer-logo-color);}

.logo {
    font-family: var(--font-logo);
    font-size: 26px;
    color: var(--primary-logo-color);
    text-decoration: none;
}

.logo,
.service-btn,
.work-text, 
.footer-text,
.footer-btn,
.modal-btn-submit {
    font-weight: 700;
}

/* Оформлення Лого і Команди */
.logo,
.team-title,
.team-post  {
    line-height: 1.19;
}

/* Оформлення Навігації і елементів Особливості */
.site-nav .link,
.contacts .link,
.feature-title,
.work-text,
.footer-text {
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .link,
.contacts .link {
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* Оформлення Контактів, Чим займаємось, Команди, Адреси і Портфоліо */
.site-nav .link {color: inherit;}

.contacts .link,
.about-feature,
.team-post,
.address,
.portfolio-post {
    color: var(--secondary-text-color);
}

/* Оформлення фону Послуга і Підвал */
.service {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: var(--down-bgc-service);;
    background-image: linear-gradient(var(--overlay-color), var(--overlay-color)), url(../images/mainpage/servise.jpg);
    background-size: cover;
}

/* Оформлення кольору тексту Послуга і Підвал */
.service,
.service-btn,
.footer-btn,
.modal-btn-submit,
.address-list .item .link {
    color: var(--primary-light-text-color);
}

/* Оформлення секції Послуга і елементів Портфоліо */
.service-title,
.service-btn,
.footer-btn,
.modal-btn-submit,
.portfolio-title  {
    letter-spacing: 0.06em;
}

.service-title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.service-btn {
    margin-top: 30px;
    padding: 10px 32px;

    transition: background-color var(--transition-dur-tf);
}

.service-btn,
.footer-btn,
.modal-btn-submit {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--service-btn-shadow);
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}

.service-btn,
.footer-btn,
.portfolio-post,
.modal-btn-submit {
    line-height: 1.88;
}

.service-btn:hover,
.service-btn:focus,
.modal-btn-submit:hover,
.modal-btn-submit:focus  {
    background-color: var(--accent-btn);
}

.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Офщрмлення тексту Особливості і Підвал */
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-item {flex-basis: calc((100% - 90px) / 4);}

.features-item-thumb {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 270px;
    height: 120px;
    background: var(--light-bg-color);
    border-radius: 4px;
}

.antenna-icon,
.clock-icon,
.diagram-icon,
.astronaut-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.feature-title {margin-top: 30px;}

.about-feature {margin-top: 10px;}

.about-feature,
.address {
    font-size: 14px;
    line-height: 1.71;
}

/* Оформлення Команди */
.team-section {background-color: var(--light-bg-color);}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-item {
    flex-basis: calc((100% - 90px) / 4);

    background-color: var(--pimary-bg-color);

    box-shadow: 0px 1px 3px var(--first-team-shadow), 0px 1px 1px var(--second-team-shadow), 0px 2px 1px var(--third-team-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-card-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    margin-bottom: 10px;
}

.social-list {
    display: flex; 
    column-gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.social-list-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--pimary-bg-color);
    border-radius: 50%;
    transition: background-color var(--transition-dur-tf);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transition-dur-tf);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--accent-color-icon);
}

/* Оформлення Чим ми займаємося */

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work-item {flex-basis: calc((100% - 60px) / 3);}

.work-card {
    position: relative;
}

.work-text {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-card-work);
    text-transform: uppercase;
}

.work {padding-top: 0px;}

/* Оформлення Постійні клієнти */
.client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.client-item {flex-basis: calc((100% - 150px) / 6);}

.client-card-thumb {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--client-border);
    border-radius: 4px;
    transition: border var(--transition-dur-tf);
} 

.client-card-thumb:hover,
.client-card-thumb:focus {
    border: 1px solid var(--accent-color);
}

.logo-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--transition-dur-tf);
}

.client-link:hover .logo-icon,
.client-link:focus .logo-icon {
    fill: var(--accent-color);
}

/* Оформлення Кнопки, Команди і Портфоліо */
.service-btn,
.team-title,
.team-post, 
.footer-btn,
.portfolio-btn {
    font-size: 16px;
    text-align: center;
}

.site-nav .link,
.contacts .link,
.team-title,
.portfolio-btn {
    font-weight: 500;
}

/* Підвал */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address-item:not(:first-child) {
    margin-top: 9px;
}

.address-card-thumb {
    width: 231px;
}  

.address-list .link {
    color: var(--secondary-light-text-color);
    text-decoration: none;
    transition: color var(--transition-dur-tf);
}

.footer-social-card-thumb {
    width: 206px;
    margin-left: 70px;
} 

.work-text,
.footer-text {
    color: var(--primary-light-text-color);
    text-transform: uppercase;
}

.footer-social-list {
    display: flex; 
    column-gap: 10px;
    justify-content: center;
    margin-top: 20px; 
} 

.footer-social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-list-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--icon-bg-footer);
    border-radius: 50%;
    transition: background-color var(--transition-dur-tf);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--accent-color);
}

.footer-social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color-footer);
}

.footer-subscription-card-thumb {
    width: 570px;
    margin-left: auto;
}

.footer-form {
    margin-top: 20px;
}

.footer-form-label {
    display: inline-block;
}

.footer-form-input {
    display: inline-flex;
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 16px;
    align-items: center;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid var(--border-color-footer-subscription);
    filter: drop-shadow(0px 4px 4px var(--service-btn-shadow));
    border-radius: 4px;
    background-color: var(--dark-bg-color);
    color: var(--primary-light-text-color);
    transition: border-color var(--transition-dur-tf);
}

.footer-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}

.footer-form-input::placeholder {
    color: var(--secondary-light-text-color);
}

.footer-btn {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
}

.send-icon {
    width: 24px;
    height: 24px;
    fill: var(--icon-color-footer);

    margin-left: 10px;
} 

/* Оформлення Ховеру і Фокусу */
.site-nav .link:hover,
.contacts .link:hover,
.site-nav .link:focus,
.contacts .link:focus,
.link.current,
.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
} 

/* Портфоліо */
.portfolio-btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    column-gap: 8px;
}

.portfolio-btn {
    padding: 6px 22px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--light-bg-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: color var(--transition-dur-tf), background-color var(--transition-dur-tf), box-shadow var(--transition-dur-tf);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--first-portfolio-btn-shadow), 0px 1px 2px var(--second-portfolio-btn-shadow), 0px 2px 2px var(--third-portfolio-btn-shadow);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {flex-basis: calc((100% - 180px) / 9);}

.portfolio-card-content {
    padding: 20px 24px;
    border-right: 1px solid var(--card-border-color); 
    border-bottom: 1px solid var(--card-border-color);
    border-left: 1px solid var(--card-border-color);
}

.portfolio-link {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--transition-dur-tf);
}

.portfolio-link:hover {
    box-shadow: 0px 1px 1px var(--first-portfolio-card-shadow), 0px 4px 4px var(--second-portfolio-card-shadow), 1px 4px 6px var(--third-portfolio-card-shadow);
}

.portfolio-title {
    margin-bottom: 4px;
    line-height: 2;
    color: var(--pimary-text-color); 
}

.portfolio-title,
.portfolio-overlay {
    font-size: 18px;
}

.portfolio-card-thumb {
    position: relative;
    overflow: hidden; 
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--overlay-card-portfolio);
    color: var(--primary-light-text-color);

    font-style: normal;
    font-weight: 400;
    line-height: 1.56;
    text-align: center; 
    padding: 63px 24px; 

    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-dur-tf);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0%);
}

/* Оформлення Фону */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bg-color);
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.85);
}

/* Оформлення Модального вікна */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--pimary-bg-color);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms ease-in-out;
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    fill: var(--color-modal-close-icon);
    transition: fill var(--transition-dur-tf);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--accent-color);
}

/* Оформлення Модальної форми */

.modal-form-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-label {
    margin-bottom: 10px;
}

.modal-form-label-desc,
.modal-form-check-label {
    font-style: normal;
    font-weight: 400;
}

.modal-form-label-desc {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input {
    height: 40px;
    padding-left: 42px;
}

.modal-form-message {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    overflow: auto;
}

.modal-form-input,
.modal-form-message {
    width: 100%;
    border: 1px solid var(--border-color-modal);
    border-radius: 4px;
    transition: border-color var(--transition-dur-tf);
    cursor: pointer;
}

.modal-form-input:focus,
.modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-message::placeholder {
    color: var(--placeholder-color);
}

.modal-form-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--color-modal-icon);
    transition: fill var(--transition-dur-tf);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-check-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;  
    color: var(--secondary-text-color);
    overflow: hidden;
    cursor: pointer;
}

.modal-form-check-icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--pimary-text-color);
    border-radius: 3px;
    fill: #FFFFFF;
    margin-right: 7px;
    transition: background-color var(--transition-dur-tf), border-color var(--transition-dur-tf);
}

.modal-form-check-icon-vector {
    display: none;
}

.modal-form-check:checked + .modal-form-check-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.modal-form-check:checked + .modal-form-check-icon .modal-form-check-icon-vector {
    display: block;
} 

.modal-form-check-link {
    color: var(--accent-color);
}

.modal-btn-submit {
    margin-top: 30px;
    padding: 10px 52px;
    align-self: center;

    transition: background-color var(--transition-dur-tf);
}